{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin | Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


    <link rel="stylesheet" href="{% static 'management/style.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="{% url 'chairman' %}">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'maintainanceList' %}">Upcoming Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'visitorList' %}">Visitors Log</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'memberList' %}">Members Log</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Issues</a></li>
        </ul>

        <form method="POST" action="/logout/">
        {% csrf_token %}
        <ul class="navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="{% url 'chairman' %}">Welcome, Administrator</a></li>
            <li class="nav-item"><input class="btn btn-outline-dark btn-sm" type="submit" value="Logout"></li>
        </ul>
        </form>
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><i class="material-icons">settings</i> Dashboard</h1>
          </div>
          <div class="col-md-2">
              <div class="dropdown add-content">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Content
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a data-toggle="modal" data-target="#add-maintainance" class="dropdown-item" class="dropdown-item" href="#">Add Maintainance Tasks</a>
                    <a data-toggle="modal" data-target="#add-member" class="dropdown-item" href="#">Add Member</a>
                    <a data-toggle="modal" data-target="#add-announcement" class="dropdown-item" href="#">Add Announcements</a>
                  </div>
              </div>

          </div>
        </div>
      </div>
    </header>

    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </section>

    <!-- Main Content -->
    <section id="main">
      <div class="container">
        <div class="row">
          <!-- Side-Nav -->
          <div class="col-md-3">
            <div class="list-group side-nav">
              <a href="{% url 'maintainanceList' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="material-icons">notification_important</i>
                Upcomings
                <span class="badge badge-warning badge-pill">{{task_count}}</span>
              </a>
              <a href="{% url 'visitorList' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="material-icons">assignment</i>
                Visitors Log
                <span class="badge badge-primary badge-pill">{{visitor_count}}</span>
              </a>
              <a id="memberList" href="{% url 'memberList' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="material-icons">people</i>
                Members Log
                <span class="badge badge-primary badge-pill">{{member_count}}</span>
              </a>
              <a href="{% url 'maintainanceList' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="material-icons">error</i>
                Issues
                <span class="badge badge-danger badge-pill">4</span>
              </a>
            </div>

            <div class="card">
              <div class="card-header">
                <h4>
                  Maintainance Balance
                </h4>
              </div>
              <div class="card-body">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-md-9">

            {% block body %}
            {% endblock %}

          </div>

          
        </div>
      </div>
    </section>

    <!-- Modal Add Member -->
    <div class="modal fade" id="add-member" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="" action="" method="POST">
                {% csrf_token %}
                <input name="add_type" type="text" value="member" hidden>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Enter Full Name Of Member</label>
                        <input name="memberNAME" type="text" class="form-control" placeholder="Flat Number">
                    </div>

                    <div class="form-group">
                      <label>Enter Flat No</label>
                      <input name="memberAPART" type="text" class="form-control" placeholder="Flat Number"> 
                    </div>

                    <div class="form-group">
                      <label>Enter Contact Information</label>
                      <input name="memberCONTACT" type="text" class="form-control" placeholder="Contact">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Modal Add Maintainance -->
    <div class="modal fade" id="add-maintainance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="" action="" method="POST">
                {% csrf_token %}
                <input name="add_type" type="text" value="task" hidden>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Tasks</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Enter details of Task</label>
                        <input name="taskDESC" type="text" class="form-control" placeholder="Description">
                     </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Modal Add Announcements -->
    <div class="modal fade" id="add-announcement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form class="" action="" method="POST">
                  {% csrf_token %}
                  <input name="add_type" type="text" value="announcement" hidden>
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Announcements</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
  
                  <div class="modal-body">
                      <div class="form-group">
                          <label>Enter Description</label>
                          <input name="announcementDESC" type="text" class="form-control" placeholder="Description">
                       </div>
                  </div>
  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                  </div>
              </form>
          </div>
        </div>
    </div>

    <footer id="footer">
        <p>Copyright My Society, &copy; 2018</p>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

  </body>

</html>
