{% extends 'management/base.html' %}

{% block body %}
<!-- Website Overview -->
  <div class="card">

  <div class="card-header main-color-bg">
    Overview
  </div>

  <div class="card-body">

    <div class="row">
        <div class="col-md-4">
            <div class="card dash-box">
              <div class="card-header">
                <h2><i class="material-icons">assignment</i>{{visitor_count}}</h2>
              </div>
              <div class="card-body">
                <h4>Today's Visitors</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card dash-box">
              <div class="card-header">
                <h2><i class="material-icons">build</i>{{task_count}}</h2>
              </div>
              <div class="card-body">
                <h4>Tasks</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card dash-box">
              <div class="card-header">
                <h2><i class="material-icons">error</i>1</h2>
              </div>
              <div class="card-body">
                <h4>Issues</h4>
              </div>
            </div>
          </div>
    </div>
  </div>
  </div>

  <!-- Announcements -->
  <div class="card">
  <div class="card-header">
    <h3>Announcements</h3>
  </div>
  <div class="card-body">
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Announcement</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for ann in announcements %}
            <tr>
              <td>{{ann.announcementDESC}}</td>
              <td>{{ann.announcementDATE}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
  </div>
{% endblock %}