{% extends 'management/base.html' %}

{% block body %}
  <div class="card">

    <div class="card-header main-color-bg">
      Maintainance Tasks
    </div>

    <div class="card-body">
      
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Issue</th>
              <th scope="col"></th>
              
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <th scope="row">{{task.taskID}}</th>
              <td>{{task.taskDESC}}</td>
              <td>
                <button type="submit" class="btn btn-primary btn-sm center-block">Edit</button>
                <button type="submit" class="btn btn-danger btn-sm center-block">Delete</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
