{% extends 'management/base.html' %}

{% block body %}
  <div class="card">

    <div class="card-header main-color-bg">
      Members
    </div>

    <div class="card-body">
      
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Flat Number</th>
              <th scope="col">Contact Details</th>
              
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
            <tr>
              <th scope="row">{{member.memberNAME}}</th>
              <td>{{member.memberAPART}}</td>
              <td>{{member.memberCONTACT}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}