{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{% static 'management/style.css' %}">
  <title>Entry Gate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

  <style>
    body#EntryForm{
            background-image:url("{% static 'management/background.jpg' %}");
            background-repeat:no-repeat;
            background-position:center; 
            background-size:cover;
            padding:10px;    
    }
    .main-div{
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 100px auto 30px;
      max-width: 60%;
    }

    #main-card h5,p{
      text-align: center;
    }

  </style>
</head>

<body id="EntryForm">
    <div class="container">
      <div class="main-div">
          <div class="card"  id="main-card">
            <div class="card-body">
              <h5 class="card-title">Main Entry Gate</h5>
              <p>Please enter your details</p>
              <form method="POST" action="">
              {% csrf_token %}
                <table class="table table-hover">
                  <tbody>
                      <tr>
                        <td>Your Full Name</td>
                        <td>{{form.visitorNAME}}</td>
                      </tr>

                      <tr>
                        <td>Your Contact Info</td>
                        <td>{{form.visitorCONTACT}}</td>
                      </tr>

                      <tr>
                        <td>Flat Number to visit</td>
                        <td>{{form.visitorAPART}}</td>
                      </tr>

                      <tr>
                        <td>Vehicle Number</td>
                        <td>{{form.visitorVEHICLE}}</td>
                      </tr>
                  </tbody>

                </table>

                <div style="padding-left: 250px">
                  <button type="submit" class="btn btn-outline-primary btn-lg center-block">Submit</button>
                </div>

              </form>
            </div>
            </div>
          
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>

</html>
