{% extends 'management/base.html' %}

{% block body %}
  <div class="card">

    <div class="card-header main-color-bg">
      Visitors
    </div>

    <div class="card-body">
      
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Flat Number</th>
              <th scope="col">Contact</th>
              
            </tr>
          </thead>
          <tbody>
            {% for visitor in visitors %}
            <tr>
              <th scope="row">{{visitor.visitorNAME}}</th>
              <td>{{visitor.visitorAPART}}</td>
              <td>{{visitor.visitorCONTACT}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}